RewriteEngine On
RewriteBase /

# Redirige /index.html vers / (evite le 404 React Router)
RewriteRule ^index\.html$ / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
